In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("G:/Statistics (Python)/Datasets/Boston.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [2]:
X = df.iloc[:,0:13]
y = df.iloc[:,13]
X.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [3]:
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, 
                                                    random_state=2018)

K = 1

In [4]:
knn = KNeighborsRegressor(n_neighbors=1)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)
print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 7.0623
Mean Absolute Error = 4.4855
R squared = 0.4019

k = 2

In [5]:
knn = KNeighborsRegressor(n_neighbors=2)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 6.2472
Mean Absolute Error = 4.1431
R squared = 0.5320

In [6]:
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)

print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 6.6395
Mean Absolute Error = 4.3555
R squared = 0.4714

In [7]:
knn = KNeighborsRegressor(n_neighbors=4)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)

print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 6.3065
Mean Absolute Error = 4.1400
R squared = 0.5231

In [8]:
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit( X_train , y_train )
y_pred = knn.predict(X_test)

print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 6.3998
Mean Absolute Error = 4.2322
R squared = 0.5089

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print("Root Mean Squared Error  = %6.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error = %6.4f" % mean_absolute_error(y_test, y_pred))
print("R squared = %1.4f" % r2_score(y_test, y_pred))

Root Mean Squared Error  = 5.4296
Mean Absolute Error = 3.5686
R squared = 0.6465

Hence, we see that among Ks, K=4 seems to be better than other values. But, linear regression seems to be even better then that.